<div class="card mb-2">
  <div class="card-header text-center">
     <strong>Araç Listesi</strong>
  </div>
  <div class="card-body">
 
  
<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-border text-dark text-center" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>  
<app-car-filter></app-car-filter>
<table *ngIf="dataLoaded == true" class="table table-hover table-bordered">
  <thead>
      <tr>
        <th>Id</th>
        <th>Car Name</th>
        <th>Brand Id</th>
        <th>Model Year</th>
        <th>Color Id</th>
        <th>Daily Price</th>
        <th>Descriptions</th>
      </tr>
    </thead>
    <tbody>
      <tr routerLink="/cars/{{car.Id}}" *ngFor="let car of cars ">
        <td>{{ car.Id }}</td>
        <td>{{ car.carName }}</td>
        <td>{{ car.brandId }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.colorId }}</td>
        <td>{{ car.dailyPrice }}</td>
        <td>{{ car.descriptions }}</td>
        <td><button (click)="addToCart(car)" 
          type="button" class="btn btn-success">Sepete ekle</button></td>
      </tr>
    </tbody>
  </table>

